{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="row">
    <!-- About us content -->
    <div class="col-lg-8 mt-3 offset-md-2 bg-white text-center border-black rounded p-5">
        <h2 class="text-center">About us</h2>
    </div>
    <div class="col-lg-8 mt-3 offset-md-2 bg-white text-center border-black rounded p-5">
        <img class="col-lg-4 img-fluid"
            src="https://res.cloudinary.com/jojocloudci/image/upload/v1661555866/IMG_20220817_093848_kdvyyb.jpg" alt="">
        <p class="text-center mt-3">Hey There! My name is Little Ben! I am the king of sweet treats. I'm 31 Years old
            and have been baking professionally for over 16 years. After being head baker of a Diner for that time I
            decided to open up my own online store. That's where you are now! All of my treats are made in my
            proffesional kitchen and are delivered with the most careful precautions as to not damage your sweet treats.
            I am assisted by a fantasic staff who work very hard day and night to ensure every order is delivered with
            the care and attention to detail you all deserve.
        </p>
        <p class="text-center mt-3">I hope you find something you're looking for and enjoy your food!</p>
        <p class="text-center mt-3"> Signed - Little Ben</p>
    </div>
</div>

{% endblock %}