{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <!-- Home Page Main Heading -->
    <div class="row">
        <div class="col-lg-10 mt-3 offset-md-1 bg-white text-center border-black rounded p-5">
            <h1 class="display-4 logo-font text-black">Little Ben's Big Treats!</h1>
        </div>
    </div>
    <div class="row">
        <!-- Call to action -->
        <div class="col-lg-10 mt-3 offset-md-1 bg-white text-center border-black rounded p-5">
            <h2 class="display-4 logo-font text-black">The Freshest Recipes, Straight to your door</h2>
            <div class="my-1">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
    <!-- About us link and preview -->
    <div class="row">
        <div class="col-lg-8 mt-3 offset-md-2 bg-white text-center border-black rounded p-2">
            <a href="{% url 'about_us' %}">
                <h2 class="display-4 logo-font text-black">About Us</h2>
            </a>
            <img class="img-fluid rounded border-black"
                src="https://res.cloudinary.com/jojocloudci/image/upload/v1661715836/image_ockdfr.png"
                alt="Some scones made in the LBBT kitchen">
        </div>
    </div>
</div>

{% endblock %}