<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <!-- Search Button Toggle -->
            <button id="search_button" class="logo-font font-weight-bold nav-link text-black mr-5 border-0">Search</button>
        </li>
        <!-- All products link with filters -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-black" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Dessert links based on categories -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="desserts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Desserts
            </a>
            <div class="dropdown-menu border-black" aria-labelledby="desserts-link">
                <a href="{% url 'products' %}?category=puddings" class="dropdown-item">Puddings</a>
                <a href="{% url 'products' %}?category=cakes" class="dropdown-item">Cakes</a>
                <a href="{% url 'products' %}?category=cheesecakes" class="dropdown-item">Cheescakes</a>
                <a href="{% url 'products' %}?category=tarts" class="dropdown-item">Tarts</a>
                <a href="{% url 'products' %}?category=pies" class="dropdown-item">Pies</a>
                <a href="{% url 'products' %}?category=vegan" class="dropdown-item">Vegan</a>
                <a href="{% url 'products' %}?category=puddings,cakes,cheesecakes,tarts,pies,vega" class="dropdown-item">All Desserts</a>
            </div>
        </li>

            <!-- Light bites with categories -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="snack-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Light Bites
            </a>
            <div class="dropdown-menu border-black" aria-labelledby="snack-link">
                <a href="{% url 'products' %}?category=donuts" class="dropdown-item">Donuts</a>
                <a href="{% url 'products' %}?category=biscuits" class="dropdown-item">Biscuits</a>
                <a href="{% url 'products' %}?category=cupcakes" class="dropdown-item">Cupcakes</a>
                <a href="{% url 'products' %}?category=pastry" class="dropdown-item">Pastry</a>
                <a href="{% url 'products' %}?category=donuts,biscuits,cupcakes,pastry" class="dropdown-item">All Light Bites</a>
            </div>
        </li>

        <!-- About us link -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'about_us' %}" id="specials-link" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        </li>
    </ul>
</div>