{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Simple container for 404 -->
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 bg-white border-black text-center">
            <h2>404 PAGE NOT FOUND</h2>
            <a href="{% url 'home' %}" class="btn">Return Home</a>
        </div>
    </div>
</div>
{% endblock %}