{% load static %}

<!-- Document Start -->
<!doctype html>
<html lang="en">
<!-- Head -->

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta Description -->
    <meta name="description" content="Little Ben's Sweet Treats an online baking store based in Bradford, England">
    <!-- Meta Keywords -->
    <meta name="keywords"
        content="{% block keywords %}{% endblock %}, baking uk, desserts, sweet treats, order dessert online, desserts in Bradford, best desserts to order">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://res.cloudinary.com/jojocloudci/image/upload/v1661556714/LBBT_logo_without_words_azbxup.png">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs%}
    <!-- Jquery Slim for bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <!-- Primary Jquery for JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Popper JS from bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
    </script>
    <!-- Font Awseome -->
    <script src="https://kit.fontawesome.com/e7fc5002ce.js" crossorigin="anonymous"></script>
    <!-- Stripe Script -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <!-- Extra JS block -->
    {% block extra_js %}
    {% endblock %}

    <!-- Site Title -->
    <title>Little Ben's Big Treats {% block extra_title %}{% endblock %}</title>
</head>

<!-- Body Start -->
<body>
    <header class="container-fluid fixed-top border-black">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <!-- Site Logo -->
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="https://res.cloudinary.com/jojocloudci/image/upload/v1661093256/logo_wide_2_lrbimt.png"
                        alt="LBBT Logo">
                </a>
            </div>
            <!-- Toggled Search bar -->
            <div id="search_container" class="col-12 col-lg-4 my-auto py-1 py-lg-0 hidden">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our site" aria-label="Search Bar">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit"
                                aria-label="Search Button">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <!-- Account Tab -->
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-black" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <!-- Bag preview and link -->
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Navigation Features -->
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
    <!-- Display Messages -->
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Page Header block  -->
    {% block page_header %}
    {% endblock %}

    <!-- Main page content block -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="d-flex flex-column justify-content-center px-4 bg-white border-black">
        <div class="row d-flex">
            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
            <div id="mc_embed_signup" class="d-flex justify-content-evenly gap mx-auto">
                <form
                    action="https://herokuapp.us13.list-manage.com/subscribe/post?u=762cfcabb749e692669ca70c3&amp;id=6723513592&amp;f_id=001ed9e2f0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <h2>Subscribe to Newsletter</h2>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_762cfcabb749e692669ca70c3_6723513592" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                    class="btn btn-default text-black">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>
                (function ($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[1] = 'FNAME';
                    ftypes[1] = 'text';
                    fnames[2] = 'LNAME';
                    ftypes[2] = 'text';
                    fnames[3] = 'ADDRESS';
                    ftypes[3] = 'address';
                    fnames[4] = 'PHONE';
                    ftypes[4] = 'phone';
                    fnames[5] = 'BIRTHDAY';
                    ftypes[5] = 'birthday';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
            </script>
            <!--End mc_embed_signup-->
        </div>
        <div class="d-flex">
            <!-- Social Media Channels -->
            <ul class="social-channels d-flex justify-content-evenly gap mx-auto">
                <li class="social-icons">
                    <a href="https://www.facebook.com/LBBTBaking/" target="_blank"
                        aria-label="Go to our Facebook page (opens in new tab)" rel="noopener">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="social-icons">
                    <a href="https://www.instagram.com" target="_blank"
                        aria-label="Go to our Instagram page (opens in new tab)" rel="noopener">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="social-icons">
                    <a href="https://www.twitter.com" target="_blank"
                        aria-label="Go to our Twitter page (opens in new tab)" rel="noopener">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="social-icons">
                    <a href="https://www.youtube.com" target="_blank"
                        aria-label="Go to our YouTube page (opens in new tab)" rel="noopener">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div id="footer-text">
            <p>© 2022 Josef Jakubiak. Built for educational assessment only, not a real ecommerce site.</p>
        </div>
    </footer>

    <!-- Load javascript and show toasts -->
    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}

</body>

</html>