{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-12 col-lg-6 bg-white border-black text-center" id="review-box">
            <!-- Product name -->
            <h3 class="card-title text-center mt-2">Review for <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>
            <h4> Review by @{{ review.user.username }}</h4>
            </a>
            <p>{{ review.date }}</p>
            <br>
            <p>{{ review.text }}</p>
            <br>
            <p class="secondary-content">{{ review.rate }} / 5</p>
            <!-- Delete Button if the current user if authenticated -->
            {% if user.is_authenticated and user == review.user %}
            <a href="" class="btn btn-danger rounded mb-5">Delete
                Review</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}